<?xml version="1.0"?>
<configuration>

    <appSettings>

    </appSettings>

    <!-- Feel free to add any Types of settings in the app-->
    <configSections>
        <section name="appLauncher" type="ConfigLoader.Sections.appLauncherSection.appLauncherConfig"/>
    </configSections>

    <!-- appLauncher : All applications related to the type of files
            Applications is a list of enumerable elements
            Application take two arguments, the read extension, the exe app
    -->
    <appLauncher>
        <Applications>
            <Application extension="txt" app=""/>
            <Application extension="pdf" app=""/>
        </Applications>
    </appLauncher>


</configuration>