<?xml version="1.0"?>
<configuration>

    <appSettings>

    </appSettings>

    <!-- Feel free to add any Types of settings in the app-->
    <configSections>
        <section name="appLauncher" type="ConfigLoader.Sections.appLauncherSection.appLauncherConfig"/>
        <section name="appInterface" type="ConfigLoader.Sections.appInterfaceSection.appInterfaceConfig"/>
    </configSections>

    <!-- appLauncher : All applications related to the type of files-->
    <appLauncher>
        <Applications>
            <Application extension="txt" app="hello"/>
        </Applications>
    </appLauncher>

    <!-- appLauncher : All UI parameters -->
    <appInterface>
        <Styles>
            <Style name="txt" value="hello"/>
        </Styles>
        <Geometrics>
            <Geometric name="Edge" value="150"/>
        </Geometrics>
    </appInterface>


</configuration>