html {
  scroll-behavior: smooth;
}

.home {
  opacity: 0;
}

.First-Page .Title {
  margin: 0% 0 3% 0;
}

.First-Page .Title h1 {
  text-align: center;
  font-size: 15em;
  width: 100%;
  font-weight: bold;
  isolation: isolate;
  letter-spacing: -5px;
}

.First-Page .Title h1 span {
  display: block;
  color: #f0921f;
}

.First-Page .Title h1 span:last-child {
  margin-top: -170px;
  color: #ffb957;
  mix-blend-mode: difference;
}

.download {
  left: 20%;
}

.documentation {
  left: 45%;
}

.download,
.documentation {
  display: inline-block;
  position: relative;
  margin: 5% 0 10% 0;
  height: 75px;
  width: 250px;
  background: #f0921f;
  border-radius: 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.download .content,
.documentation .content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.download .content:hover,
.documentation .content:hover {
  background: #ffb957;
  border-radius: 55px;
  transform: translate(-6px, -6px);
}

.download .content .button-text,
.download .content i,
.documentation .content .documentation-text,
.documentation .content i,
.multiple-download .content,
.multiple-download img{
  color: #FFF;
  font-size: 20px;
  height: 30px;
}

.download .content .button-text,
.documentation .content .documentation-text {
  margin-left: 8px;
}

.multiple-download {
  position: absolute;
  background: #f0921f;
  margin: 5% 0 10% 0;
  height: 55px;
  width: 150px;
  border-radius: 20px;
}

.n1 {
  top: 88%;
  left: 26%;
}

.n2 {
  top: 97%;
  left: 26%;
}

.n3 {
  top: 106%;
  left: 26%;
}

.n4 {
  top:88%;
  left: 69%;
}

.n5 {
  top: 97%;
  left: 69%;
}

.multiple-download .content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(7px);
}

.multiple-download img {
  display: flex;
  position: absolute;
  transform: translateY(14px);
  left: 3%;
}


