* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background: #252525;
}

.main {
  position: relative;
  left: 90px;
  height: 100vh;
  width: calc(100% - 88px);
}

.main h2 {
  color: #f0921f;
  font-size: 400%;
  text-align: center;
}
